Gimnasio/bin/Debug/Gimnasio.vshost.exe.config
Gimnasio/bin/Debug/Gimnasio.vshost.exe.manifest
Gimnasio/obj/x86/Debug/App.g.cs
Gimnasio/obj/x86/Debug/App.g.i.cs
Gimnasio/obj/x86/Debug/AutoCompleteTextBox.baml
Gimnasio/obj/x86/Debug/AutoCompleteTextBox.g.cs
Gimnasio/obj/x86/Debug/AutoCompleteTextBox.g.i.cs
Gimnasio/obj/x86/Debug/DialogDetalleFactura.baml
Gimnasio/obj/x86/Debug/DialogDetalleFactura.g.cs
Gimnasio/obj/x86/Debug/DialogDetalleFactura.g.i.cs
Gimnasio/obj/x86/Debug/DialogFactura.baml
Gimnasio/obj/x86/Debug/DialogFactura.g.cs
Gimnasio/obj/x86/Debug/DialogFactura.g.i.cs
Gimnasio/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
Gimnasio/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
Gimnasio/obj/x86/Debug/Gimnasio.csproj.FileListAbsolute.txt
Gimnasio/obj/x86/Debug/Gimnasio_Content.g.cs
Gimnasio/obj/x86/Debug/Gimnasio_Content.g.i.cs
Gimnasio/obj/x86/Debug/Gimnasio_MarkupCompile.lref
Gimnasio/obj/x86/Debug/VentanaLogin.baml
Gimnasio/obj/x86/Debug/VentanaLogin.g.cs
Gimnasio/obj/x86/Debug/VentanaLogin.g.i.cs
Gimnasio/obj/x86/Debug/VentanaPrincipal.g.cs
Gimnasio/obj/x86/Debug/VentanaPrincipal.g.i.cs
Gimnasio/obj/x86/Debug/VistaAdministrarAdmins.baml
Gimnasio/obj/x86/Debug/VistaAdministrarAdmins.g.cs
Gimnasio/obj/x86/Debug/VistaAdministrarAdmins.g.i.cs
Gimnasio/obj/x86/Debug/VistaClientes.g.cs
Gimnasio/obj/x86/Debug/VistaClientes.g.i.cs
Gimnasio/obj/x86/Debug/VistaConfiguracion.baml
Gimnasio/obj/x86/Debug/VistaConfiguracion.g.cs
Gimnasio/obj/x86/Debug/VistaConfiguracion.g.i.cs
Gimnasio/obj/x86/Debug/VistaConfiguracionFacturas.baml
Gimnasio/obj/x86/Debug/VistaConfiguracionFacturas.g.cs
Gimnasio/obj/x86/Debug/VistaConfiguracionFacturas.g.i.cs
Gimnasio/obj/x86/Debug/VistaConsultarPagos.g.cs
Gimnasio/obj/x86/Debug/VistaConsultarPagos.g.i.cs
Gimnasio/obj/x86/Debug/VistaControlHuella.baml
Gimnasio/obj/x86/Debug/VistaControlHuella.g.cs
Gimnasio/obj/x86/Debug/VistaControlHuella.g.i.cs
Gimnasio/obj/x86/Debug/VistaControlIngreso.baml
Gimnasio/obj/x86/Debug/VistaControlIngreso.g.cs
Gimnasio/obj/x86/Debug/VistaControlIngreso.g.i.cs
Gimnasio/obj/x86/Debug/VistaFacturas.g.cs
Gimnasio/obj/x86/Debug/VistaFacturas.g.i.cs
Gimnasio/obj/x86/Debug/VistaIngresoDeCuota.g.cs
Gimnasio/obj/x86/Debug/VistaIngresoDeCuota.g.i.cs
Gimnasio/obj/x86/Debug/VistaIngresoManual.baml
Gimnasio/obj/x86/Debug/VistaIngresoManual.g.cs
Gimnasio/obj/x86/Debug/VistaIngresoManual.g.i.cs
Gimnasio/obj/x86/Debug/VistaPermisoControlIngreso.baml
Gimnasio/obj/x86/Debug/VistaPermisoControlIngreso.g.cs
Gimnasio/obj/x86/Debug/VistaPermisoControlIngreso.g.i.cs
Gimnasio/obj/x86/Debug/VistaReporteIngresos.g.cs
Gimnasio/obj/x86/Debug/VistaReporteIngresos.g.i.cs
Gimnasio/obj/x86/Debug/VistaReportePagos.g.cs
Gimnasio/obj/x86/Debug/VistaReportePagos.g.i.cs
Gimnasio/obj/x86/Debug/VistaTiposCuotas.g.cs
Gimnasio/obj/x86/Debug/VistaTiposCuotas.g.i.cs
Gimnasio/obj/x86/Debug/edmxResourcesToEmbed/Model1.csdl
Gimnasio/obj/x86/Debug/edmxResourcesToEmbed/Model1.msl
Gimnasio/obj/x86/Debug/edmxResourcesToEmbed/Model1.ssdl
Gimnasio/bin/Debug/Database1.sdf
Gimnasio/bin/Debug/Gimnasio.exe.config
Gimnasio/obj/x86/Debug/Gimnasio.AboutGymAdmin.resources
Gimnasio/obj/x86/Debug/Gimnasio.Properties.Resources.resources
Gimnasio/obj/x86/Debug/Gimnasio.g.resources
Gimnasio/obj/x86/Debug/Gimnasio_MarkupCompile.i.lref
Gimnasio/obj/x86/Debug/VentanaPrincipal.baml
Gimnasio/obj/x86/Debug/VistaClientes.baml
Gimnasio/obj/x86/Debug/VistaConsultarPagos.baml
Gimnasio/obj/x86/Debug/VistaFacturas.baml
Gimnasio/obj/x86/Debug/VistaIngresoDeCuota.baml
Gimnasio/obj/x86/Debug/VistaReporteIngresos.baml
Gimnasio/obj/x86/Debug/VistaReportePagos.baml
Gimnasio/obj/x86/Debug/VistaTiposCuotas.baml
Gimnasio/Database1.sdf.old
Gimnasio/bin/Debug/Gimnasio.application
Gimnasio/bin/Debug/Gimnasio.exe.manifest
Gimnasio/bin/Debug/app.publish/Application Files/Gimnasio_1_0_0_0/Database1.sdf.deploy
Gimnasio/bin/Debug/app.publish/Application Files/Gimnasio_1_0_0_0/Gimnasio.exe.config.deploy
Gimnasio/bin/Debug/app.publish/Application Files/Gimnasio_1_0_0_0/Gimnasio.exe.deploy
Gimnasio/bin/Debug/app.publish/Application Files/Gimnasio_1_0_0_0/Gimnasio.exe.manifest
Gimnasio/bin/Debug/app.publish/Application Files/Gimnasio_1_0_0_0/ParallelPort.dll.deploy
Gimnasio/bin/Debug/app.publish/Gimnasio.application
Gimnasio/bin/Release/Database1.sdf
Gimnasio/bin/Release/Gimnasio.application
Gimnasio/bin/Release/Gimnasio.exe.config
Gimnasio/bin/Release/Gimnasio.exe.manifest
Gimnasio/bin/Release/Gimnasio.vshost.application
Gimnasio/bin/Release/Gimnasio.vshost.exe.config
Gimnasio/bin/Release/Gimnasio.vshost.exe.manifest
Gimnasio/bin/Release/config.xml
Gimnasio/obj/x86/Debug/Gimnasio.application
Gimnasio/obj/x86/Debug/Gimnasio.exe.manifest
Gimnasio/obj/x86/Release/App.g.cs
Gimnasio/obj/x86/Release/App.g.i.cs
Gimnasio/obj/x86/Release/AutoCompleteTextBox.baml
Gimnasio/obj/x86/Release/AutoCompleteTextBox.g.cs
Gimnasio/obj/x86/Release/AutoCompleteTextBox.g.i.cs
Gimnasio/obj/x86/Release/DialogDetalleFactura.baml
Gimnasio/obj/x86/Release/DialogDetalleFactura.g.cs
Gimnasio/obj/x86/Release/DialogDetalleFactura.g.i.cs
Gimnasio/obj/x86/Release/DialogFactura.baml
Gimnasio/obj/x86/Release/DialogFactura.g.cs
Gimnasio/obj/x86/Release/DialogFactura.g.i.cs
Gimnasio/obj/x86/Release/GeneratedInternalTypeHelper.g.cs
Gimnasio/obj/x86/Release/GeneratedInternalTypeHelper.g.i.cs
Gimnasio/obj/x86/Release/Gimnasio.AboutGymAdmin.resources
Gimnasio/obj/x86/Release/Gimnasio.Properties.Resources.resources
Gimnasio/obj/x86/Release/Gimnasio.application
Gimnasio/obj/x86/Release/Gimnasio.csproj.FileListAbsolute.txt
Gimnasio/obj/x86/Release/Gimnasio.exe.manifest
Gimnasio/obj/x86/Release/Gimnasio.g.resources
Gimnasio/obj/x86/Release/Gimnasio_Content.g.cs
Gimnasio/obj/x86/Release/Gimnasio_Content.g.i.cs
Gimnasio/obj/x86/Release/Gimnasio_MarkupCompile.lref
Gimnasio/obj/x86/Release/VentanaLogin.baml
Gimnasio/obj/x86/Release/VentanaLogin.g.cs
Gimnasio/obj/x86/Release/VentanaLogin.g.i.cs
Gimnasio/obj/x86/Release/VentanaPrincipal.baml
Gimnasio/obj/x86/Release/VentanaPrincipal.g.cs
Gimnasio/obj/x86/Release/VentanaPrincipal.g.i.cs
Gimnasio/obj/x86/Release/VistaAdministrarAdmins.baml
Gimnasio/obj/x86/Release/VistaAdministrarAdmins.g.cs
Gimnasio/obj/x86/Release/VistaAdministrarAdmins.g.i.cs
Gimnasio/obj/x86/Release/VistaClientes.baml
Gimnasio/obj/x86/Release/VistaClientes.g.cs
Gimnasio/obj/x86/Release/VistaClientes.g.i.cs
Gimnasio/obj/x86/Release/VistaConfiguracion.baml
Gimnasio/obj/x86/Release/VistaConfiguracion.g.cs
Gimnasio/obj/x86/Release/VistaConfiguracion.g.i.cs
Gimnasio/obj/x86/Release/VistaConfiguracionFacturas.baml
Gimnasio/obj/x86/Release/VistaConfiguracionFacturas.g.cs
Gimnasio/obj/x86/Release/VistaConfiguracionFacturas.g.i.cs
Gimnasio/obj/x86/Release/VistaConsultarPagos.baml
Gimnasio/obj/x86/Release/VistaConsultarPagos.g.cs
Gimnasio/obj/x86/Release/VistaConsultarPagos.g.i.cs
Gimnasio/obj/x86/Release/VistaControlHuella.baml
Gimnasio/obj/x86/Release/VistaControlHuella.g.cs
Gimnasio/obj/x86/Release/VistaControlHuella.g.i.cs
Gimnasio/obj/x86/Release/VistaControlIngreso.baml
Gimnasio/obj/x86/Release/VistaControlIngreso.g.cs
Gimnasio/obj/x86/Release/VistaControlIngreso.g.i.cs
Gimnasio/obj/x86/Release/VistaFacturas.baml
Gimnasio/obj/x86/Release/VistaFacturas.g.cs
Gimnasio/obj/x86/Release/VistaFacturas.g.i.cs
Gimnasio/obj/x86/Release/VistaIngresoDeCuota.baml
Gimnasio/obj/x86/Release/VistaIngresoDeCuota.g.cs
Gimnasio/obj/x86/Release/VistaIngresoDeCuota.g.i.cs
Gimnasio/obj/x86/Release/VistaIngresoManual.baml
Gimnasio/obj/x86/Release/VistaIngresoManual.g.cs
Gimnasio/obj/x86/Release/VistaIngresoManual.g.i.cs
Gimnasio/obj/x86/Release/VistaPermisoControlIngreso.baml
Gimnasio/obj/x86/Release/VistaPermisoControlIngreso.g.cs
Gimnasio/obj/x86/Release/VistaPermisoControlIngreso.g.i.cs
Gimnasio/obj/x86/Release/VistaReporteIngresos.baml
Gimnasio/obj/x86/Release/VistaReporteIngresos.g.cs
Gimnasio/obj/x86/Release/VistaReporteIngresos.g.i.cs
Gimnasio/obj/x86/Release/VistaReportePagos.baml
Gimnasio/obj/x86/Release/VistaReportePagos.g.cs
Gimnasio/obj/x86/Release/VistaReportePagos.g.i.cs
Gimnasio/obj/x86/Release/VistaTiposCuotas.baml
Gimnasio/obj/x86/Release/VistaTiposCuotas.g.cs
Gimnasio/obj/x86/Release/VistaTiposCuotas.g.i.cs
Gimnasio/obj/x86/Release/edmxResourcesToEmbed/Model1.csdl
Gimnasio/obj/x86/Release/edmxResourcesToEmbed/Model1.msl
Gimnasio/obj/x86/Release/edmxResourcesToEmbed/Model1.ssdl
Gimnasio/Database1.sdf.old2
Gimnasio/Gimnasio_TemporaryKey.pfx
Gimnasio/bin/Debug/Gimnasio.vshost.application
